

.top-logo{
    
    width: 100%;
    height: 100px;
    background-color: seashell;
   
}
.img{
    width: 50px;
    margin-top: 20px;
  
    
}
.toboolist{
    font-size: 40px;
    position: absolute;
    top: 30px;
}